.header {
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    display: flex;
    position: relative;
    align-items: center;
    background-color: #F2F2F2;
    overflow: hidden;
}

.logo {
    width: 154px;
    height: 31px;
    background-size: cover;
    background-position: center;
}

.logo_place_header {
    position: absolute;
    top: 30px;
    left: 64px;
}

.header__title {
    width: 730px;
    line-height: 96px;
    font-size: 102px;
    font-weight: bold;
    margin-left: 64px;
    position: relative;
    z-index: 1;
}

.header__subtitle {
    width: 388px;
    line-height: 25px;
    font-size: 18px;
    font-weight: lighter;
    position: absolute;
    bottom: 30px;
    left: 64px;
    margin: 0;
    z-index: 1;
}

.header__link {
    text-decoration: none;
    color: #2F80ED;
}

.header__link:hover {
    opacity: .8;
    color: #1F1F1F;
}

.header__square-pic {
    height: 568px;
    width: 568px;
    background-color: #2F80ED;
    position: absolute;
    top: 64px;
    right: 0;
    transform: rotate(-15deg);
    animation: rotation 20s ease-in-out infinite;
}

@keyframes rotation {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

.header__main-illustration {
    width: 765px;
    height: 608px;
    background-size: cover;
    background-position: center;
    bottom: 0;
    right: 0;
    position: absolute;
}