.khan {
    padding-top: 105px;
    background-color: #F2F2F2;
}

.khan__container {
    width: 80%;
    margin: auto;
}

.khan__author {
    line-height: 42px;
    font-size: 30px;
    font-weight: normal;
}

.khan__title {
    line-height: 1.15;
    font-size: 60px;
    font-weight: bold;
}

.khan__quote {
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    width: 790px;
    margin: 50px 0 0;
}

.khan__quote-author {
    line-height: 1.15;
    font-size: 24px;
    font-weight: bold;
    margin: 36px 0 0;
}

.khan__quote-author-subline {
    line-height: 1.15;
    font-size: 24px;
    font-weight: normal;
    margin: 10px 0 0;
}

.khan__book-container {
    margin-top: 68px;
    display: flex;
}

.khan__book-pic {
    width: 620px;
    height: 608px;
    margin-right: 48px;
    background-image: url(/images/khan-book-2.png);
    background-position: 0 0;
    background-size: cover;
}

.khan__buy-link {
    line-height: 42px;
    font-size: 30px;
    font-weight: normal;
    text-decoration: none;
    color: #2F80ED;
    margin-left: 20px;
}

.khan__buy-link:hover {
    opacity: .7;
    color: #1F1F1F;
    transition: opacity .2s linear;
}