.footer {
    background-color: #1F1F1F;
    min-height: 350px;
    box-sizing: border-box;
    padding: 60px 40px;
}

.logo_place_footer {
    width: 183px;
    height: 35px;
}

.footer__columns {
    color: white;
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}

.footer__column {
    min-height: 252px;
}

.footer__column_content_copyright {
    flex-basis: 711px;
    position: relative;
}

.footer__column-heading {
    line-height: 30px;
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0 20px;
    margin: 0 0 20px;
    color: #F2F2F2;
}

.footer__author {
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
    color: #F2F2F2;
    left: 0;
    bottom: 0;
    position: absolute;
}

.footer__list {
    list-style: none;
    padding: 0;
    display: block;
}

.footer__link {
    text-decoration: none;
    color: #F2F2F2;
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
    padding: 0;
}

.footer__link:hover {
    opacity: .7;
    color: #2F80ED;
}

.footer__social-icons {
    margin-right: 10px;
}